@model ScaffoldDbContextProfilesViewModel

@{
    ViewBag.Title = "Scaffold DbContext Profiles";
}

<div class="row flex-fill m-0" style="overflow-y: auto">
    <div class="col-3 border-right pt-1">
        <div class="row">
            <div class="col">
                <h5>Scaffold DbContext Profiles</h5>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#add-scaffold-db-context-profile-modal"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <hr />
        <div class="list-group">
            @foreach (var profile in Model.ScaffoldDbContextProfiles.OrderBy(item => item.Name))
            {
                <button type="button" class="list-group-item list-group-item-action text-truncate m-0 p-1 @(profile.Id == Model.SelectedProfileId ? "active" : string.Empty)" 
                        data-profile-id="@(profile.Id)" title="@profile.Name" data-toggle="tooltip">@profile.Name</button>
                }
        </div>
    </div>
    <div class="col-9 d-flex flex-column h-100" style="overflow-y: auto" data-container="ScaffoldDbContextProfilesContainer"></div>
</div>

<partial name="~/Views/ScaffoldDbContextProfiles/Modals/AddScaffoldDbContextProfileModal.cshtml" />

@section scripts {
}