@model HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to Sample API</h1>
        <p class="lead"></p>
    </div>
</div>