@model HomeViewModel

@{
    ViewData["Title"] = "Dev Tools";
}

<div class="jumbotron">
    <h1 class="display-4">Dev Tools</h1>
    <p class="lead">This site contains development tools.</p>
    <hr class="my-4">
</div>