@model IEnumerable<APIProfileService>

@{
}

@if (Model.Any())
{
    foreach (APIProfileService link in Model.OrderBy(item => item.APIService.Name, StringComparer.OrdinalIgnoreCase))
    {
        IEnumerable<object> fields = link.APIService.GetServiceDefinedFields();

        <div class="input-group input-group-sm w-auto m-1">
            <div class="input-group-prepend">
                <label class="input-group-text">@(link.APIService.Name)</label>
            </div>
            <div class="input-group-append">
                @if (fields.Any())
                {
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#serviceDefinedFieldsModal" data-item-id="@(link.Id)"><i class="fa fa-cog"></i></button>
                }
                <button type="button" class="btn btn-outline-danger" onclick="removeProfileService(@($"{link.APIProfileId},{link.Id}"))"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    }
}
else
{
    <div>No active services...</div>
}
