@model (int ProfileId, IEnumerable<APIAccessLog> Logs)

@{
    IEnumerable<SelectListItem> days = APIProfileViewModel.LogDays.Select(item => item.ToString())
                                                                  .Select((item, index) => new SelectListItem() { Text = item, Value = item, Selected = index == 0 });
}

<div class="row">
    <div class="col-3 border-right">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <div class="input-group-text">Days</div>
            </div>
            @Html.DropDownList("LogDays", days, new { @class = "form-control", onchange = $"loadAccessLogs({Model.ProfileId},this.value)" })
        </div>
    </div>
    <div class="col-9">
        <div id="logs-accordion">
            @foreach (var group in Model.Logs.GroupBy(item => item.CreatedOn.ToString("yyyy-MM-dd")).OrderByDescending(item => item.Key))
            {
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse@(group.Key)">@(group.Key)</button>
                    </div>

                    <div id="collapse@(group.Key)" class="collapse show" data-parent="#logs-accordion">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
