@model (int ProfileId, IEnumerable<APIService> InactiveServices)

@{

}

@if (Model.InactiveServices.Any())
{
    foreach (APIService service in Model.InactiveServices)
    {
        <div class="input-group input-group-sm w-auto m-1">
            <div class="input-group-prepend">
                <label class="input-group-text">@(service.Name)</label>
            </div>
            <div class="input-group-append">
                @if (!string.IsNullOrWhiteSpace(service.ConnectionInfo))
                {
                    <a class="btn btn-outline-info" href="@Url.Action(nameof(APIServiceController.GetConnectionInfo), "APIService", new { serviceId = service.Id })">
                        <i class="fa fa-share-alt"></i>
                    </a>
                }
                <button type="button" class="btn btn-outline-primary" onclick="addProfileService(@(Model.ProfileId), @(service.Id))"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    }
}
else
{
    <div>No services available...</div>
}
